{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
data-src="/static/img/banner.jpg"
data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
    <h1>Products</h1>
</div>


<div class="uk-container uk-margin main-content">
    <div uk-grid>            
        <div class="uk-width-1-3">                
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-card-badge uk-label">0</div>
                <h3 class="uk-card-title">Your Cart</h3>
                <p>Currently Nothing Added</p>
                <p><span class="uk-margin-small-right" uk-icon="cart"></span><a class="uk-button uk-button-text" href="#">History of purchase</a></p>
                <p><span class="uk-margin-small-right" uk-icon="info"></span><a class="uk-button uk-button-text" href="#">Profile</a></p>
                <p><span class="uk-margin-small-right" uk-icon="home"></span><a class="uk-button uk-button-text" href="{% url 'addresses' %}">Addresses</a></p>                
            </div>            
        </div>
        <div class="uk-width-2-3">
            <h3 class="uk-heading-line"><span>Your Enlisted Addresses</span></h3>
            <div class="uk-margin">
                <p class="uk-text-meta"> To add any of the address please click the following corresponding button</p>
                <a class="uk-button uk-button-small uk-button-default" href="#modal-delivery" uk-toggle>Add New Delivery address</a>
                <a class="uk-button uk-button-small uk-button-default" href="#modal-billing" uk-toggle>Add New Billing address</a>
            </div>
            

            <div class="uk-child-width-1-1@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin">
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <thead>
                                <tr>
                                    <th class="uk-width-small">Id</th>
                                    <th>Address For Delivery</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for address in delivery %}
                                <tr>
                                    <td>{{ address.id }}</td>
                                    <td>{{ address.street }}, {{ address.city }}, {{ address.zipcode }}, {{ address.country }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin">
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <thead>
                                <tr>
                                    <th class="uk-width-small">Id</th>
                                    <th>Address For Billing</th>
                                  </tr>
                            </thead>
                            <tbody>
                                {% for address in billing %}
                                <tr>
                                    <td>{{ address.id }}</td>
                                    <td>{{ address.street }}, {{ address.city }}, {{ address.zipcode }}, {{ address.country }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
            
            <div id="modal-delivery" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Add New Delivery Address</h2>
                    </div>
                    <form class="uk-form-stacked" method="POST" action="{% url 'adddeliveryaddress' %}">{% csrf_token %}
                        <div class="uk-modal-body">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="street">Street</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="street" name="street" type="text" placeholder="Street">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="city">City</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="city" name="city" type="text" placeholder="City">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="zipcode">Zipcode</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="zipcode" name="zipcode" type="text" placeholder="Zipcode">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="country">Country</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="country" name="country" type="text" placeholder="Country">
                                </div>
                            </div>                            
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="modal-billing" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">Add New Billing Address</h2>
                    </div>
                    <form class="uk-form-stacked" method="POST" action="{% url 'addbillingaddress' %}">{% csrf_token %}
                        <div class="uk-modal-body">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="street">Street</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="street" name="street" type="text" placeholder="Street">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="city">City</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="city" name="city" type="text" placeholder="City">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="zipcode">Zipcode</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="zipcode" name="zipcode" type="text" placeholder="Zipcode">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="country">Country</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="country" name="country" type="text" placeholder="Country">
                                </div>
                            </div>                            
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            <button class="uk-button uk-button-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}