<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project </title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <section class="" id="test">
        <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
            <div class="uk-padding-large">
                <h1>Greenotex Signup Confirmation</h1>
                <p>Your Account has been created successfully. Please wait till confirmation for your login process. your login credentials will be sent to your registered email.</p>
                <p>Thanks for being with us</p>
                <a href="{% url 'login' %}">Back to Login</a>
            </div>
        </div>
    </section>
    
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</body>
</html>