{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
data-src="/static/img/banner.jpg"
data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
<h1>Products</h1>
</div>


<div class="uk-container uk-margin main-content">
<div uk-grid>            
    <div class="uk-width-1-3">                
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-badge uk-label">0</div>
            <h3 class="uk-card-title">Your Cart</h3>
            <p>Currently Nothing Added</p>
            <p><span class="uk-margin-small-right" uk-icon="cart"></span><a class="uk-button uk-button-text" href="#">History of purchase</a></p>
            <p><span class="uk-margin-small-right" uk-icon="info"></span><a class="uk-button uk-button-text" href="#">Profile</a></p>
            <p><span class="uk-margin-small-right" uk-icon="question"></span><a class="uk-button uk-button-text" href="#">Request to system</a></p>
        </div>
    </div>
    <div class="uk-width-2-3">
        <div class="uk-child-width-1-1@s">

            {% for product in products %}
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/media/{{ product.photo }}" alt="" uk-cover>
                    <canvas width="400" height="200"></canvas>
                </div>
                
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ product.title }}</h3>
                        <p>Price: {{ product.price }}$</p>
                        <!-- <a href="{% url 'productdetail' product.id %}" class="uk-button uk-button-text">Detail</a>
                        <div class="">
                            <button data-product="{{ product.id }}" data-action="add" class="uk-button uk-button-secondary uk-button-small update-cart">Add To Cart</button>
                        </div>  -->

                        <div>
                            <div class="uk-button-group">
                                <a href="{% url 'productdetail' product.id %}" class="uk-button uk-button-primary uk-button-small">Detail</a>
                                <button data-product="{{ product.id }}" data-action="add" class="uk-button uk-button-secondary uk-button-small update-cart">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>                
    </div>
</div>

</div>

{% endblock %}