<div class="uk-width-1-3">                
    <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-badge uk-label">{{ cartItems }}</div>
        <h3 class="uk-card-title">Your Cart</h3>
        <p>Currently Nothing Added</p>
        <p><span class="uk-margin-small-right" uk-icon="cart"></span><a class="uk-button uk-button-text" href="#">History of purchase</a></p>
        <p><span class="uk-margin-small-right" uk-icon="info"></span><a class="uk-button uk-button-text" href="#">Profile</a></p>
        <p><span class="uk-margin-small-right" uk-icon="question"></span><a class="uk-button uk-button-text" href="#">Request to system</a></p>
    </div>
</div>